* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dt-c-background);
  color: var(--dt-c-on-background);
}